<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <a href="/">Homepage</a>

    <form class="signup-form" action="" method="post">
        <label for="email">Email</label>
        <input type="text" id="email">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="password">Password</label>
        <input type="text" id="password">
        <label for="passwordConfirm">Password Confirm</label>
        <input type="text" id="password-confirm">
        <button type="submit">Signup</button>
    </form>
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/loginFeatures.js" type="text/javascript"></script>
    
</body>
</html>